body{
    background-color: #e7c8a0;
}
.gameCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameBoard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:0px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
}

.spot{

    display:flex;
    align-items:flex-start;
    justify-content: center;
    background-color:#f4f4d5;
    height:150px;
    width:150px;
    transition: background-color 0.3s;

}

.spot p {
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: 200px;
    padding-bottom:40px;
    color: #d4a373;

 /* Remove default margin that might affect horizontal centering */
}

.spot:hover{
    background-color: #83b0e1;
}

.messageDiv{
    display:flex;
    align-items: center;
    justify-content: center;
}